#Auth {
    main {
        max-width: 640px;
        margin: 240px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    a.logo {
        width: 62%;
        margin-bottom: 40px;
    }

    img.logo {
        width: 100%;
    }

    form {
        width: 100%;
    }

    form .complete-btn {
        width: 100%;
        padding: 12px 0;
    }

    .simple-login {
        width: 100%;
        padding: 16px 23px;
        margin: 24px 0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E6F2FF;
        font-weight: 500;
        font-size: 16px;
    }

    .simple-login > div {
        display: flex;
        gap: 16px;
    }

    .simple-login a {
        height: 42px;
        width: 42px;
        padding-top: 10px;
        border-radius: 9999px;
        text-align: center;
        display: block;
    }

    .simple-login .google {
        background-color: white;
    }

    .simple-login .kakaotalk {
        background-color: #F5E14B;
    }

    .guide-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .guide-text a {
        color: var(--blue100);
        text-decoration: underline;
    }

    /* Mobile */
    @media (max-width: 767px) {
        main {
            max-width: 432px;
            padding: 0 16px;
        }
    }
}