#items {
    .title {
        display: inline-block;
        margin: 0;
        color: var(--gray900);
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        align-content: center;
    }

    header {
        z-index: 1;
        height: 70px;
        background-color: white;
        border-bottom: 1px solid #dfdfdf;
        padding: 0 200px;
        justify-content: center;
        align-content: center;
        position: sticky;
        top: 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        height: 51px;
        margin-right: 32px;
        font-size: 0;
    }

    header .logo img {
        height: 100%;
    }

    header #logo-small {
        display: none;
    }

    header .menu > a {
        margin: 0 15px;
        color: var(--gray600);
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }

    header .menu > a.selected {
        color: var(--blue);
    }

    header img.progile {
        height: 40px;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 24px;
    }

    main > .title {
        margin-bottom: 16px;
    }

    main .toolbar {
        display: flex;
        gap: 12px;
        align-items: stretch;
        height: 42px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    
    main .toolbar .title {
        flex-grow: 1;
    }

    main .toolbar .search {
        position: relative;
    }

    main .toolbar .search input {
        width: 325px;
        padding: 8px 16px 8px 44px;
        border: none;
        border-radius: 12px;
        background-color: var(--gray100);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    main .toolbar .search input::placeholder {
        color: var(--gray400);
    }

    main .toolbar .search img {
        position: absolute;
        top: 9px;
        bottom: 9px;
        left: 16px;
    }

    main .toolbar .register {
        padding: 0 23px;
        border-radius: 8px;
        background-color: var(--blue);
        color: var(--gray100);
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        align-content: center;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        header {
            padding: 0 24px;
        }

        header .logo {
            margin-right: 20px;
        }

        main .toolbar .search input {
            width: 242px;
        }
    }

    /* Mobile */
    @media (max-width: 767px) {
        header {
            padding: 0 16px;
        }

        header .logo {
            margin-right: 8px;
        }

        header #logo-small {
            display: unset;
        }

        header #logo-big {
            display: none;
        }

        header .menu {
            gap: 8px;  
        }

        header .menu > a {
            margin: 0;
            font-size: 16px;
        }

        main {
            padding: 16px;
        }

        main .toolbar {
            display: grid;
            grid-template: 
            "title register register" 42px
            "search search dropdown" 42px / 1fr 77px 42px;
            row-gap: 8px;
            column-gap: 14px;
            height: 92px;
            margin-top: 24px;
            margin-bottom: 16px;
        }

        main .toolbar .title {
            grid-area: title;
        }

        main .toolbar .search {
            grid-area: search;
        }

        main .toolbar .search input {
            width: 100%;
        }

        main .toolbar .register {
            grid-area: register;
        }

        main .toolbar button {
            grid-area: dropdown;
        }
    }
}