.btn {
    padding: 0;
    border: none;
    background-color: var(--blue100);
    color: var(--gray100);
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.btn:hover {
    background-color: var(--blue200);
}

.btn:active {
    background-color: var(--blue300);
}

.btn:disabled {
    background-color: var(--gray400);
}

.btn.small {
    padding: 8px 23px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
}

.btn.medium {
    width: 240px;
    padding: 11px 0;
    border-radius: 9999px;
    font-size: 18px;
    line-height: 26px;
}

.btn.large {
    padding: 12px 0;
    border-radius: 9999px;
    font-size: 20px;
    line-height: 32px;
}