.pagenation {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 40px;
}

.pagenation button {
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px var(--gray200);
    border-radius: 9999px;
    color: var(--gray500);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.pagenation button:disabled img {
    opacity: 0.55;
}

.pagenation button.selected {
    border: none;
    background-color: var(--blue100);
    color: var(--gray50);
}

.pagenation button img {
    display: block;
}

.pagenation button:first-child img {
    transform: scaleX(-1);
}