.home {
  main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 24px auto;
  }

  main > form {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  main > form .search {
    flex: 1;
  }
}
