.heading {
    display: block;
    margin: 0;
    color: var(--gray700);
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
}

/* header */
header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 200px;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 0;
}

header div {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 51px;
}

header .login {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--gray100);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

/* banner */
.banner {
    height: 540px;
    background-color: #CFE5FF;
    align-content: end;
}

.banner.bottom {
    margin-top: 138px;
}

.banner > div {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-explain {
    margin-bottom: 60px;
}

.banner a {
    width: 357px;
    height: 56px;
    margin-top: 32px;
    border-radius: 40px;
    background-color: var(--blue);
    color: var(--gray50);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    display: block;
}

.banner img {
    width: 746px;
}

/* main */
main {
    background-color: white;
}

article {
    height: 720px;
    align-content: center;
}

article > div {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.article-top-text {
    color: var(--blue);
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}

.article-explain {
    color: var(--gray700);
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

article img {
    height: 444px;
}

.article-right {
    flex-direction: row-reverse;
}

.article-right .article-text {
    text-align: right;
}

/* footer */
footer {
    height: 160px;
    padding-top: 32px;
    background-color: var(--gray900);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

footer > div {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    color: var(--gray400);
}

.footer-link {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer-link a {
    color: var(--gray200);
    display: inline-block;
}

.footer-sns {
    margin: 0;
    padding: 0;
    gap: 12px;
}

.footer-sns > li {
    margin-left: 12px;
    display: inline-block;
}

.footer-sns :first-child {
    margin: 0;
}

.footer-sns img {
    height: 20px;
    vertical-align: top;
}