* {
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-family: Pretendard;
}

body {
    margin: 0;
	background-color: #FCFCFC;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
	cursor: pointer;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}